@media (min-width: 768px) {
  .nav {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
  }
  .nav__paginas {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .main__links {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% auto;
  }
  .main__titulo-marcas {
    grid-column: span 2;
  }
  .main__productos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
  }
  .footer {
    background-color: wheat;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 75% auto;
    justify-content: space-evenly;
    align-content: center;
  }
  .footer__copyright {
    margin-top: 10px;
    margin-bottom: 5px;
    grid-column: span 3;
  }
}
@media (min-width: 1440px) {
  .main__links {
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 55px;
    margin-right: 55px;
    grid-template-rows: 30% auto;
  }
  .main__titulo-marcas {
    margin-bottom: 60px;
    grid-column: span 3;
  }
  .nav {
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
@media (min-width: 2560px) {
  body {
    font-size: 34px;
  }
  .header__busqueda {
    font-size: 35px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .google-maps-caja {
    height: 800px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

main {
  background: linear-gradient(wheat, whitesmoke 15%);
}

h1 {
  color: transparent;
  float: right;
  font-size: 1px;
  background-color: wheat;
}

footer {
  margin-top: 15px;
  background-color: wheat;
}

.header__logo {
  width: 300px;
  height: 150px;
  margin: auto;
  margin-bottom: 10px;
}
.header__img {
  width: 100%;
  height: 100%;
}
.header__busqueda {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 20px;
  width: 320px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  text-align: center;
}
.nav__links {
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer {
  text-align: center;
}
.footer__titulos {
  font-size: 20px;
}
.footer__ayuda {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer__contactanos {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer__redes {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer__logos {
  width: 20px;
  height: 20px;
}

.main__marcas {
  text-align: center;
}
.main__titulo {
  text-align: center;
}
.main__productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main__tarjeta {
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 55%;
  height: 85%;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
}
.main__img {
  width: 95%;
  height: 75%;
  border-radius: 15px;
  border: 1px solid black;
  margin: 2px;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
.main__oferta {
  text-decoration: line-through;
}

.negocio {
  width: 99%;
  height: 99%;
  margin: auto;
}
.negocio__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.texto__anios {
  text-align: center;
}
.texto__horarios {
  text-align: center;
}

.google-maps-caja {
  width: 95%;
  height: 500px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

.google-maps {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.caja-formulario {
  text-align: center;
  margin-top: 5px;
}

.formulario {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.boton {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
