.negocio {
    width: 99%;
    height: 99%;
    margin: auto;

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

.texto{
    &__anios{
        text-align: center;
    }

    &__horarios {
        text-align: center;
    }
}
