.caja-imagen-negocio{
    width: 99%;
    height: 99%;
    margin: auto;
}

.imagen-negocio{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.titulo-descriptivo{
    text-align: center;
    margin: 5px;
}

.texto-horarios{
    text-align: center;
    margin: 5px;
}

