.main {
    &__marcas {
        text-align: center;
    }

    &__titulo {
        text-align: center;
    }

    &__tarjeta {
        background-color: whitesmoke;
        margin-top: 10px;
        /* margin-bottom: 20px; */
        width: 55%;
        height: 99%;
        border-radius: 15px;
        /* border: 1px solid black; */
        text-align: center;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        justify-content: center;
    }

    &__img {
        width: 95%;
        height: 75%;
        border-radius: 15px;
        border: 1px solid black;
        margin: 2px;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    &__oferta {
        text-decoration: line-through;
    }
}