.caja-formulario{
    text-align: center;
    margin-top: 5px;
}

.formulario{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.boton{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (min-width: 768px){
    .busqueda{
        width: 768px;
        margin: auto;
    }

    .nav{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 70px;
    }

    .nav-paginas{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% ;
    }

    .nav-marcas{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% auto
    }

    .nav-marcas-titulo{
        grid-column: span 2;
    }

    .productos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .footer{
        background-color: wheat;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 75% auto;
        justify-content: space-evenly;
        align-content: center;

       &__copyright{
            margin-top: 10px;
            margin-bottom: 5px;
            grid-column: span 3;
        }
    }
            

}

@media (min-width: 1440px){
    .nav-marcas{
        margin: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-left: 55px;
        margin-right: 55px;
        grid-template-rows: 30% auto
    }

    .nav-marcas-titulo{
        margin-bottom: 60px;
        grid-column: span 3;
    }
    
    .nav{
        text-align: center;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
}

@media (min-width: 2560px){
    body{
        font-size: 34px;
    }

    .busqueda{
        font-size: 30px;
    }

    .google-maps-caja{
        height: 800px;
    }
}