.caja-formulario{
    text-align: center;
    margin-top: 5px;
}

.formulario{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.boton{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}