.footer{
    text-align: center;
        
    &__titulos{
        font-size: 20px;
    }
   
    &__ayuda{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__contactanos{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__redes{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__logos{
        width: 20px;
        height: 20px;
    }
}