footer{
    margin-top: 15px;
    background-color: wheat;
}

p{
    font-size: 20px;
}

.informacion-footer{
    text-align: center;
}

.ayuda{
    margin-top: 15px;
    margin-bottom: 15px;
}

.contactanos{
    margin-top: 15px;
    margin-bottom: 15px;
}

.redes-sociales{
    margin-top: 15px;
    margin-bottom: 15px;
}

.logos-contactanos{
    width: 20px;
    height: 20px;
}