* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

header{
    background-color: wheat;
}
main{
    background: linear-gradient(wheat, whitesmoke 15%);
}

h1{
    color: transparent;
    float: right;
    font-size: 1px;
    background-color: wheat;
}

footer{
    margin-top: 15px;
    background-color: wheat;
}